<!-- Shopping Cart Dropdown -->
<ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item dropdown">
        <span class="fa fa-shopping-bag fa-3x dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">
            <p id="count" class="text">{{ cart.count }}</p>
        </span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="cart">
            <div *ngIf="cart.count">
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered table-cart">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">Title</td>
                                <td class="font-weight-bold">Price</td>
                                <td class="font-weight-bold">Count</td>
                                <td class="font-weight-bold">Total</td>
                            </tr>
                            <tr *ngFor="let item of cart.items">
                                <td>{{item.product.name}}</td>
                                <td>{{item.product.price}}</td>
                                <td>{{item.count}}</td>
                                <td>{{item.totalCost | currency: 'eur' :true: '1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="total-cart pull-xs-right">
                            <b>Total: {{cart.totalCost | currency:'eur':true:'1.2-2'}}</b>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a [routerLink]="['/cart']" class="btn btn-primary pull-xs-right btn-cart">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a>
                        <a [routerLink]="['/checkout']" class="btn btn-success pull-xs-right btn-cart">
                            <i class="fa fa-credit-card" aria-hidden="true"></i> Checkout</a>
                    </div>
                </div>
            </div>
            <div class="emty-cart" *ngIf="!cart.count">The cart is empty!</div>
        </div>
    </li>
</ul>
<!--<ul class="nav navbar-nav navbar-right">
    <ul class="dropdown-menu cart" role="menu">
        <h1>Your Cart</h1>
        <p>Cart: {{cart.totalCost | currency: 'eur' :true:'1.2-2' }} ({{ cart.count }} items)</p>
       
<table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product name</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Product 1</td>
                    <td>100$</td>
                    <td>
                        <a>
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Product 2</td>
                    <td>100$</td>
                    <td>
                        <a>
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Product 3</td>
                    <td>100$</td>
                    <td>
                        <a>
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Product 4</td>
                    <td>100$</td>
                    <td>
                        <a>
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
                <tr class="total">
                    <th scope="row">5</th>
                    <td>Total</td>
                    <td>400$</td>
                </tr>
            </tbody>
        </table> 

        <button class="btn btn-primary waves-effect waves-light">Checkout</button>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Close</button>
        </div>
        </ul> -->
<!-- Shopping Bag View on Load -->

<!-- <span class="fa fa-shopping-bag fa-3x dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <p id="count" class="text">{{ cart.count }}</p>
    </span>   -->
<!--</ul>-->