<!-- Header -->
<div class="row inline">

    <!-- Login -->
     <div class="col-md-2">
                <div class="col-md-1">
                    <ul class="nav navbar-nav">
                        <ul class="dropdown">
                            <app-login></app-login>
                        </ul>
                    </ul>
                </div>
    </div>
    <!-- Login End-->

    <!-- Title -->
    <div class="col-md-8">
        <h1 class="inline">Angular Store</h1>
    </div>
    <!-- Title End -->

    <!-- Cart -->
    <div class="col-md-2">
        <app-cart></app-cart>
    </div>
    <!-- Cart End  -->
</div>
<!-- Header End  -->
<app-product-list></app-product-list>
<div class="added">
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
</div>