<!-- Header -->
<div class="row inline">
    <div class="col-md-1"></div>

    <!-- Login -->
    <div class="col-md-1">
        <ul class="nav navbar-nav">
            <ul class="dropdown">
                <span class="fa fa-user fa-3x dropdown-toggle" data-toggle="dropdown" role="button"></span>
                <form class="dropdown-menu p-4 login">
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail2">Email address</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword2">Password</label>
                        <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
                    </div>

                        <div class="form-check inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Remember me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary signIn">Sign in</button>

                    <div class="bottom text-center">
                        <h5>New here?
                            <a href="#">
                                <b>Register</b>
                            </a>
                        </h5>
                    </div>
                </form>
            </ul>
        </ul>
    </div>
    <!-- Login End-->

    <!-- Title -->
    <div class="col-md-8">
        <h1 class="inline">Angular Store</h1>
    </div>
    <!-- Title End -->

    <!-- Cart -->
    <div class="col-md-1">
        <ul class="nav navbar-nav navbar-right">
            <ul class="dropdown-menu cart" role="menu">
                <app-cart></app-cart>
            </ul>
            <span class="fa fa-shopping-cart fa-3x dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></span>
        </ul>
    </div>
    <!-- Cart End  -->

    <div class="col-md-1"></div>
</div>
<!-- Header End  -->
<app-product-list></app-product-list>