.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}

.navbar-default {
    background-color: #00468a;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #d8d8d8;
}

input::placeholder {
    color:#00468a;
}
/*
.card-img-top {
    width: 100%;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #00468a;
    border-radius: 0.25rem;
    margin-bottom: 20px;
}

.card-block {
    margin-left: 10px; 
}

.cardImg {
    margin: 10px 10px 10px 10px;
}

.addToCart {
    display: block;
    width: 95%;
    background-color: #00468a;
    margin: 10px 0px 10px 0px;
}

.price {
    font-size: 20px;
}

.sortBy {
    text-align: right;
}*/

html, body {
  height: 100%;
  background: #e6e6e6;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 80%;
  max-width: 900px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card .card-cover {
  background: center top no-repeat, -webkit-linear-gradient(top, #00468a, #ffffff);
  background: center top no-repeat, linear-gradient(to bottom, #00468a, #ffffff);
  background-size: 80px, 100%;
  border-radius: 30px 0 0 30px;
  width: 40%;
  position: relative;
  z-index: 1;
}
.card .card-cover .cover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  color: #fff;
  font-weight: bold;
  font-size: 90px;
  font-family: "Roboto", sans-serif;
  line-height: 0.8;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.1;
  text-shadow: 1px 16px 80px rgba(0, 0, 0, 0.8);
}
.card .card-cover img {
  -webkit-transform: scaleX(-1) translate(5%, -60%);
          transform: scaleX(-1) translate(5%, -60%);
  position: absolute;
  top: 60%;
  max-width: 140%;
}
.card .card-content {
  width: 60%;
  background: #fff;
  padding: 80px 30px;
  position: relative;
  border-radius: 0 30px 30px 0;
  position: relative;
  z-index: 0;
}

.title, .sub, .card-block-title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.title {
  color: #00468a;
  font-weight: 900;
}

.sub {
  font-size: 15px;
  margin-bottom: 10px;
}

.desc {
  color: #ccc;
  line-height: 1.6;
  font-size: 13px;
}

.price {
  position: absolute;
  color: #ccc;
  top: 20px;
  right: 30px;
  font-size: 90px;
  font-weight: 300;
}
.price:before {
  content: "$";
  position: absolute;
  left: -20px;
  top: 15px;
  font-size: 40px;
}

.card-block {
  margin-bottom: 20px;
}
.card-block .card-block-title {
  font-size: 15px;
  margin-bottom: 10px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
}

.active {
  color: #00468a;
}

.btn {
  background: #00468a;
  display: block;
  color: #fff;
  text-align: center;
  padding: 13px;
  line-height: 2;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0 0 30px #00468a;
  text-transform: uppercase;
  margin: 40px 5% 0 5%;
  width: 90%;
}

.color-options {
  padding: 10px;
}
.color-options > input {
  position: relative;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.color-options > input:before, .color-options > input:after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #000;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.color-options > input:after {
  background: none;
  border: 2px solid transparent;
  width: 28px;
  height: 28px;
}
.color-options > input.orange:before {
  background: #000000;
}
.color-options > input.orange:checked:after {
  border-color: #000000;
  width: 40px;
  height: 40px;
}
.color-options > input.green:before {
  background: navy;
}
.color-options > input.green:checked:after {
  border-color: navy;
  width: 40px;
  height: 40px;
}
.color-options > input.yellow:before {
  background: darkgrey;
}
.color-options > input.yellow:checked:after {
  border-color: darkgrey;
  width: 40px;
  height: 40px;
}
.color-options > input.blue:before {
  background: lightgrey;
}
.color-options > input.blue:checked:after {
  border-color: lightgray;
  width: 40px;
  height: 40px;
}