<!-- Navigation -->
<app-navigation></app-navigation>
<!-- Navigation -->

<!-- Carousel -->
<div class="borders">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://mdbootstrap.com/img/Photos/Slides/img%20(107).jpg" alt="Los Angeles">
      </div>

      <div class="item">
        <img src="http://mdbootstrap.com/img/Photos/Slides/img%20(108).jpg" alt="Chicago">
      </div>

      <div class="item">
        <img src="http://mdbootstrap.com/img/Photos/Slides/img%20(109).jpg" alt="New York">
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>
<!-- Carousel -->

<!-- Divider -->
<div class="divider"></div>
<!-- Divider -->

<!-- Best Sellers -->
<div class="row">
  <div class="card-group borders">
    <div class="col-md-3 container-fluid">
      <div class="card bestSeller">
        <img class="img-responsive" src="http://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg" alt="Card image cap">
        <button class="bestButton" [routerLink]="['/products']">Bags
          <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="col-md-3 container-fluid">
      <div class="card bestSeller">
        <img class="img-responsive" src="http://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg" alt="Card image cap">
        <button class="bestButton2" [routerLink]="['/products']">Tops
          <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="col-md-3 container-fluid">
      <div class="card bestSeller">
        <img class="img-responsive" src="http://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg" alt="Card image cap">
        <button class="bestButton" [routerLink]="['/products']">Jeans
          <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="col-md-3 container-fluid">
      <div class="card bestSeller">
        <img class="img-responsive" src="http://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(26).jpg" alt="Card image cap">
        <button class="bestButton2" [routerLink]="['/products']">Jackets
          <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Best Sellers -->