<!-- Header -->
<div class="row inline">
  <!-- Login -->
  <div class="col-md-2">
    <div class="col-md-1">
      <ul class="nav navbar-nav">
        <ul class="dropdown">
          <app-login></app-login>
        </ul>
      </ul>
    </div>
  </div>
  <!-- Login End -->

  <!-- Title -->
  <div class="col-md-8">
    <h1 class="inline">
      Angular Store
    </h1>
  </div>
  <!-- Title End -->

  <!-- Cart -->
  <div class="col-md-2">
    <app-cart></app-cart>
  </div>
  <!-- End Cart -->

</div>
<!-- Header End  -->

<!-- Products -->
<app-product-list></app-product-list>
<!-- Products End -->