<span class="fa fa-user fa-3x dropdown-toggle white" data-toggle="dropdown" role="button"></span>
<form (submit)='onLoginSubmit()' class="dropdown-menu p-4 login">
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="email@example.com">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
    </div>

    <div class="form-check inline">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input"> Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-primary signIn" value="signIn">Sign in</button>

    <div class="bottom text-center">
        <h5>New here?
            <a [routerLink]="['/register']">
                <b>Register</b>
            </a>
        </h5>
    </div>
    <!-- Login End-->
    <li  *ngIf="authService.loggedIn()" > 
        <a (click)="onLogoutClick()" href="#">Logout</a>
    </li>
</form>