<!-- Navigation -->
<app-navigation></app-navigation>
<!-- End Navigation -->
<h1 class="text-left padded-txt">Shopping Cart</h1>

<!-- Cart Items -->
<div *ngIf="cart.count">
  <!-- Cart Headings -->
  <div class="row">
    <div class="col-sm-6">
      <p class="bold padded-txt">Product</p>
    </div>
    <div class="col-sm-4">
      <p class="bold">Quantity</p>
    </div>
    <div class="col-sm-2">
      <p class="bold">Price</p>
    </div>
  </div>
  <!-- End Cart Headings -->
  <div *ngFor="let item of cart.items">
    <div class="row">
      <div class="col-sm-3">
        <img class="img-responsive padded-img" src="{{item.product.images[0]}}" alt="Card image cap">
      </div>
      <div class="col-sm-3">
        <p class="bold padded-prod-name">{{item.product.name}}</p>
        <p class="faint">Product Code: {{item.product._id}}</p>
        <p>Size: {{item.product.sizes}}</p>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-default btn-sm" (click)="addProduct(item)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <p class="padded-prod-name">{{item.count}}</p>
        <button type="button" class="btn btn-default btn-sm" (click)="removeProduct(item)">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </div>
      <div class="col-sm-2">
        <p class="padded-prod-name">{{item.product.price}}</p>
      </div>
    </div>
    <br/>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="total-cart pull-xs-right">
        <p class="text-right bold subtotal">SUBTOTAL: {{cart.totalCost | currency:'eur':true:'1.2-2'}}</p>
      </div>
    </div>
  </div>
</div>
<div class="emty-cart" *ngIf="!cart.count">
  <p class="padded-txt">Your cart is empty!</p>
  <p class="padded-txt">Continue shopping to find something you like</p>
</div>

<div>
  <a [routerLink]="['/products']" class="btn btn-primary btn-lg btn-block btnblack">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a>
  <a [routerLink]="['/checkout']" class="btn btn-default btn-lg btn-block btn-inverse">
    <i class="fa fa-credit-card" aria-hidden="true"></i> Checkout</a>
</div>
<!-- End Cart Items -->