.bold {
    font-size: 14px;
    font-weight: bold;
}

.faint {
    color: grey;
    font-size: 12px;
}

.padded-img {
    padding-bottom: 40px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.padded-txt {
    padding-left: 20px;
}

.padded-prod-name{
    padding-top: 10px;
}

img {
    height: 50%;
    width: 50%;
}