<!-- Nav -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">

        <!-- Mobile Display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" role="button" [routerLink]="['']">Angular Store</a>
        </div>
        <!-- Mobile Display End -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <!-- Login -->
                <li>
                    <ul class="dropdown">
                        <app-login></app-login>
                    </ul>
                </li>
                <!-- Login End -->


                <!-- Pages -->
                <li>
                    <a role="button" [routerLink]="['/products']">Products</a>
                </li>
                <!-- Pages End -->

            </ul>

            <ul class="nav navbar-nav navbar-right">

                <!-- Cart -->
                <ul>
                    <li>
                        <app-cart></app-cart>
                    <li>
                </ul>
                <!-- Cart End -->

            </ul>
        </div>
    </div>
</nav>
<!-- Nav -->