<!-- Nav -->
<nav class="navbar navbar-inverse fixed" role="navigation">
    <div class="container-fluid">

        <!-- Mobile Display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Mobile Display End -->

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="navbar-brand" role="button" [routerLink]="['']">Angular Store</a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav">

                <!-- Login -->
                <li>
                    <ul class="dropdown">
                        <app-login></app-login>
                    </ul>
                </li>
                <!-- Login End -->

                <!-- <ul class="nav navbar-nav navbar-right">
                 <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard']">Dashboard</a>
                </li> 
                <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/profile']">Profile</a>
                </li> 
                <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/login']">Login</a>
                </li> 
                  <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/register']">Register</a>
                </li>  
                <li *ngIf="authService.loggedIn()">
                    <a (click)="onLogoutClick()" href="#">Logout</a>
                </li>
            </ul> -->


                <!-- Pages -->
                <li>
                    <a role="button" [routerLink]="['/products']">Products</a>
                </li>
                <!-- Pages End -->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!-- Cart -->
                <ul>
                    <app-cart></app-cart>
                </ul>
                <!-- Cart End -->
            </ul>
        </div>
    </div>
</nav>
<!-- Nav -->