<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 container-fluid">
    <div class="card-group">
      <div *ngIf="products && filteredProducts.length"></div>
      <div class="col-md-4 container-fluid" *ngFor="let product of filteredProducts">
        <div class="card-group">
          <div class="card">
            <div class="cardImg">
              <img class="img-responsive" src="{{product.images[0]}}" alt="Card image cap">
            </div>
            <div class="card-block">
              <h4 class="card-title title">{{product.name}}</h4>
              <p class="card-text price"> {{product.price}}</p>
              <div class="card-block">
                <div class="card-block-title">size</div>
                <div class="options">
                  <a class="option" href="#">6</a>
                  <a class="option" href="#">7</a>
                  <a class="option" href="#">8</a>
                  <a class="option" href="#">9</a>
                  <a class="option" href="#">10</a>
                </div>
              </div>
              <div class="card-block">
                <div class="card-block-title">colors</div>
                <div class="color-options">
                  <input class="orange" type="radio" name="color">
                  <input class="green" type="radio" name="color">
                  <input class="yellow" type="radio" name="color">
                  <input class="blue" type="radio" name="color">
                </div>
              </div>
              <p class="card-text">
                <small class="text-muted">Quantity in stock {{product.stock}}</small>
              </p>
              <button type="button" class="btn btn-primary addToCart">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>