
input::placeholder {
    color:#000000;
}

.card-img-top {
    width: 100%;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 0.25rem;
    margin-bottom: 20px;
}

.borders {
  margin: 0 10% 0 10%;
}

.card-block {
    margin-left: 10px; 
}

.cardImg {
    margin: 10px 10px 10px 10px;
}

.addToCart {
    display: block;
    width: 95%;
    background-color: #333;
    margin: 10px 0px 10px 0px;
}

.price {
    font-size: 20px;
}

.sortBy {
    text-align: right;
}

.title, .sub, .card-block-title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.title {
  color: #333;
  font-weight: 900;
  margin-bottom: 10px;
}

.price {
  position: absolute;
  color: goldenrod;
  top: 60px;
  right: 100px;
  font-size: 90px;
  font-weight: 300;
}
.price:before {
  content: "€";
  position: absolute;
  left: -25px;
  top: 40px;
  font-size: 40px;
}

.card-block {
  margin-bottom: 20px;
}
.card-block .card-block-title {
  font-size: 15px;
  margin-bottom: 10px;
}

.options {
  text-align: center;
  margin-right: 40px;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
           padding-right: 23px;
  text-decoration: none;
  display: inline !important;
  margin-left: 5%;
  color: #ccc;
  font-weight: bold;
}

.active {
  color: #333;
}

.color-options {
  padding-right: 15px;
  text-align: center;
}
.color-options > input {
  position: relative;
  margin-right: 30px;
  width: 28px;
  height: 28px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.color-options > input:before, .color-options > input:after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #000;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.color-options > input:after {
  background: none;
  border: 2px solid transparent;
  width: 28px;
  height: 28px;
}
.color-options > input.orange:before {
  background: #000000;
}
.color-options > input.orange:checked:after {
  border-color: #000000;
  width: 40px;
  height: 40px;
}
.color-options > input.green:before {
  background: navy;
}
.color-options > input.green:checked:after {
  border-color: navy;
  width: 40px;
  height: 40px;
}
.color-options > input.yellow:before {
  background: darkgrey;
}
.color-options > input.yellow:checked:after {
  border-color: darkgrey;
  width: 40px;
  height: 40px;
}
.color-options > input.blue:before {
  background: lightgrey;
}
.color-options > input.blue:checked:after {
  border-color: lightgray;
  width: 40px;
  height: 40px;
}

.stock {
  color: red;
  font-size: 12px;
}

.available {
  color: rgb(34, 190, 34);
  font-size: 12px;
}
